@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fahkwang:300i,400,400i,500,500i,600,600i');

body {
    font-family: 'Lora';
}

.name-section {
    background-color: aliceblue;
    width: 100%;
}

.introPara {
    font-family: 'Fahkwang', sans-serif;
}

.front-end {
    font-size: 20px;
    color: white;
}

.home-color {
    background-color: lightgreen;
}

.education-color {
    background-color: limegreen;
}

#education {
    font-family: 'Lora';
}

.contact-color {
    background-color: aliceblue;
}

.bg-black {
    background-color: black;
    color: white;
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.progress-bar {
    background-size: 80px 80px;
}

#homeToggle, #educationToggle, #portfolioToggle, #contactToggle {
    cursor: pointer;
}

.font-div {
    width: 30%;
}

.row {
    font-size: 18px;
}

#backColor, .introduction, .education-section {
    background-color: aliceblue;
}

#porfolio-section {
    background-color: aliceblue;
}

a:hover {
    text-decoration: none;
    color: darkgreen;
}

.footer-copyright {
    font-size: 12px;
}


@media only screen and (min-width: 1198px) {
    .font-div {
        padding: 42.5px 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    img {
        width: 80px;
        height: auto;
        border-radius: 50%; 
    }
}